.date-span-button {
    width: 100%;
    background-color: white;
    color: #007bff;
}

.date-span-button:active {
    background-color: #007bff;
    color: white;
}

.date-span-button:focus {
    color: orange
}

.date-span-button:focus:active {
    font-weight: bold;
}

.date-span-group {
    width: 100%;
}

.sleep-chart-container {
    width: 50%;
}

.time-label {
    font-size: 15px;
    color: gray;
    opacity: 50%;
}